<mat-card>
  <mat-card-title>Iniciar Sesión</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Usuario" [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login()">Iniciar Sesión</button>
  </mat-card-content>
</mat-card>
